{% extends "base.html" %}
{% block content %}

<div class="navbar">
    <ul>
        <li><a href="{{ url_for('index') }}"><b>home</b></a></li>
    </ul>
    <div style="cursor: pointer;" id="dark-mode-toggle">🌒</div>
</div>

<div class="album-thumbnail-content">

<h1 id="album-thumbnail-header">Photo Albums</h1>

{% for album in albums %}
    <div class="album-thumbnail">
        <a href="{{ url_for('album', album_id=album.album_id) }}">
            <h3>{{ album.name }}</h3>
        </a>
    </div>
{% endfor %}
</div>

{% endblock %}